@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
::-webkit-scrollbar {
    width: 17px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(transparent,#45A29E);
    
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#00ffee);
    
}
body{
    font-family: 'Noto Sans', sans-serif;
    color: #C5C6C7;
    background-color: #1F2833;
    font-size: 14px;
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%,
     rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%,
     rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%,
     rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em,
     rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em,
     radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%,
     rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, 
     rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#45A29E, #0B0C10);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
.header{
    padding-top: 40px;
    background-color: #306d6a;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo{
    position: relative;
    font-weight: 700;
    padding: 0 12px 3px 0;
    font-size: 55px;
    line-height: 100%;
    color: #66FCF1;
    line-height: 1;
    margin-left: 25px;
}
.logo::before{
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background-image: url(../img/superhero.png);
    position: absolute;
    left: -65px;
    bottom: -2px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    margin-right: -80px;
}
.nav-button{
    display: none;
}
.nav-link{
    color: #C5C6C7;
}
.nav-link.active{
    color: #66FCF1;
}
.container-title{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}
.container-title h2{
    position: relative;
    margin-top: -55px;
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 15px;
    color: #45A29E;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 4px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 6s linear infinite;
}
.container-title p{
    margin-top: 7em;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 50%;
    text-align: center;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #45A29E;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0px 10px #45A29E, 
        0 0 20px #45A29E,
        0 0 40px #45A29E,
        0 0 80px #45A29E,
        0 0 160px #45A29E;
    }
}
@media(max-width: 1145px){
    .container-title h2{
        margin-top: -30px;
    }
    .container-title p{
        margin-top: 3.5em;
    }
}
@media(max-width: 1230px){
    .container-title h2{
        margin-top: -45px;
    }
    .container-title p{
        margin-top: 4em;
    }
}
@media(max-width: 1430px){
    .container-title h2{
        margin-top: -40px;
    }
    .container-title p{
        margin-top: 4.5em;
    }
}
.container-TVser{
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-hero{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 80px 20px;
    align-self: center;
    justify-self: center;
}
.card-hero{
    position: relative;
    width: 350px;
    height: 450px;
    background: rgba(0, 0, 0, 0.408);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    align-self: center;
    justify-self: center;
}
.card-hero .imgBx{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
    height: 175px;
    background: #000;    
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
}
.card-hero .imgBx img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-hero .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}
.card-hero .content h2{
    font-size: 1.5em;
    font-weight: 600;
    color: #cbc6ef;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 5px;
}
.card-hero .content p{
    margin: 0 10px;
}

.footer {
    position: relative;
    width: 100%;
    background: #45A29E;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item{
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #C5C6C7;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .footer p {
    color: #C5C6C7;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .footer p1 {
    color: #C5C6C7;
    font-size: 2rem;
    font-weight: 300;
  }
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate2 {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }