@media(max-width: 1230px){
    .nav-list{
        display: none;
    }
    .nav-button{
        display: block;
    }
    .nav.open .nav-list{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1F2833;
        z-index: 1;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
    }
    .nav-link{
        color: #C5C6C7;
    }
    .nav-link.active{
        color: #66FCF1;
    }
    .nav-button{
        position: absolute;
        z-index: 9;
        top: 46px;
        right: 30px;
    }
    .nav-open .nav-button{
        position: fixed;
    }
    .header-nav{
        margin-bottom: 50px;
    }
    .header-row{
        flex-direction: column;
        row-gap: 20px;
    }
    .header-content{
        margin-top: 0;
    }
    .header-img{
        text-align: center;
    }
    .header-img img{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .header-img::before{
        margin: auto;
        left: 0;
        right: 0;
        top: 75px;
    }
}

@media(max-width: 1145px){
    .box-gradient:nth-child(1){
        grid-column-start: 0;
        grid-column-end: 0;
        justify-self: center;
        left:-15px;
    }
    .box-gradient:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 0;
        justify-self: center;
        right: -20px;
    }
    .box-gradient:nth-child(3){
        grid-column-start: 0;
        grid-column-end: 1;
        justify-self: center;
        left:-15px;
    }
    .box-gradient:nth-child(4){
        grid-column-start: 2;
        grid-column-end: -1;
        justify-self: center;
        right: -20px;
    }
}
@media(max-width: 965px){
    .container-glass{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media(max-width: 700px){
    .header-heading{
        font-size: 34px;
        line-height: 1.3;
    }
    .header-heading span{
        font-size: 28px;
    }
    .selection-gradient{
        padding: 60px 0;
    }
    .contacts{
        padding: 60px 0;
    }
    .contacts-title{
        margin-bottom: 20px;
    }
    .contacts-content{
        margin-bottom: 20px;
    }
    .contacts-button{
        margin-bottom: 70px;
    }
    .contacts-social{
        margin-bottom: 20px;
        column-gap: 50px;
    }

}
@media(max-width: 670px){
    .container-title{
        height: 50vh;
    }
    .container-title h2{
        line-height: 70px;
    }
}
@media(max-width: 540px){
    .container-title h2{
        font-size: 3.8em;
    }
}
@media(max-width: 480px){
    .container-title h2{
        font-size: 3em;
    }
}
@media(max-width: 415px){
    .container-title h2{
        font-size: 2em;
    }
    .container-title p{
        font-size: 0.9em;
    }
    .card-hero{
        transform: scale(0.85);
    }
    .container-hero{
        
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 10px 20px;
    }
}
@media(max-width: 570px){
    .header-img::before{
        margin: auto;
        left: 0;
        right: 0;
        top: 75px;
        width: 400px;
        height: 400px;
    }
}
@media(max-width: 570px){
    .container-timer .coundownBx h2 span{
        font-size: 4em;
    }
}
@media(max-width: 470px){
    .header-img::before{
        margin: auto;
        left: 0;
        right: 0;
        top: 75px;
        width: 300px;
        height: 300px;
    }
}
@media(max-width: 370px){
    .header-img::before{
        margin: auto;
        left: 0;
        right: 0;
        top: 75px;
        width: 250px;
        height: 250px;
    }
}
@media(max-width: 360px){
    .box-gradient:nth-child(1){
        grid-column-start: 1;
        left: 50px;
        justify-self: center;
    }
    .box-gradient:nth-child(2){
        grid-column-start: 1;
        right: -60px;
        justify-self: center;
    }
    .box-gradient:nth-child(3){
        grid-column-start: 1;
        left: 50px;
        justify-self: center;
    }
    .box-gradient:nth-child(4){
        grid-column-start: 1;
        right: -60px;
        justify-self: center;
    }
    .sect-news.wrapper{
        height: 160em;
    }
}
@media(max-width: 320px){
    .box-gradient:nth-child(1){
        grid-column-start: 1;
        left: 0px;
        justify-self: center;
    }
    .box-gradient:nth-child(2){
        grid-column-start: 1;
        right: -100px;
        justify-self: center;
    }
    .box-gradient:nth-child(3){
        grid-column-start: 1;
        left: 0px;
        justify-self: center;
    }
    .box-gradient:nth-child(4){
        grid-column-start: 1;
        right: -100px;
        justify-self: center;
    }
    .sect-news.wrapper{
        height: 160em;
    }
}
@media(max-width: 320px){
    .header-img::before{
        margin: auto;
        left: 0;
        right: 0;
        top: 75px;
        width: 200px;
        height: 200px;
    }
}
