@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
::-webkit-scrollbar {
    width: 17px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(transparent,#45A29E);
    
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#00ffee);
    
}
body{
    font-family: 'Noto Sans', sans-serif;
    color: #C5C6C7;
    font-size: 14px;
    background-color: #0B0C10;
    background-size: 48px 48px;
    background-image: radial-gradient(
        transparent 20px,
        #C5C6C7  20px,
        #C5C6C7  24px,
        transparent 24px
    ),
    radial-gradient(
        transparent 20px,
        #C5C6C7  20px,
        #C5C6C7  24px,
        transparent 24px
    );
    background-position: 0 0 , 24px 24px;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
.header{
    padding-top: 40px;
    background-color: #0B0C10;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo{
    position: relative;
    font-weight: 700;
    padding: 0 12px 3px 0;
    font-size: 55px;
    line-height: 100%;
    color: #45A29E;
    line-height: 1;
    margin-left: 25px;
}
.logo::before{
    content: '';
    display: block;
    width: 64px;
    height: 64px;
    background-image: url(../img/superhero.png);
    position: absolute;
    left: -65px;
    bottom: -2px;
}
.nav-list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    margin-right: -80px;
}
.nav-button{
    display: none;
}
.nav-link{
    color: #C5C6C7;
}
.nav-link.active{
    color: #66FCF1;
}
.container-title{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}
.container-title h2{
    position: relative;
    margin-top: -55px;
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 15px;
    color: #45A29E;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 4px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 6s linear infinite;
}
.container-title p{
    margin-top: 7em;
    font-size: 1.2em;
    font-weight: 500;
    max-width: 50%;
    text-align: center;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #45A29E;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0px 10px #45A29E, 
        0 0 20px #45A29E,
        0 0 40px #45A29E,
        0 0 80px #45A29E,
        0 0 160px #45A29E;
    }
}
@media(max-width: 1145px){
    .container-title h2{
        margin-top: -30px;
    }
    .container-title p{
        margin-top: 3.5em;
    }
}
@media(max-width: 1230px){
    .container-title h2{
        margin-top: -45px;
    }
    .container-title p{
        margin-top: 4em;
    }
}
@media(max-width: 1430px){
    .container-title h2{
        margin-top: -40px;
    }
    .container-title p{
        margin-top: 4.5em;
    }
}
.sect-news{
    width: 100%;
    padding: 100px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.wrapper{
  width: 100%;
  height: 40em;
  margin: 0 auto;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 380px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}
.inner a{
    cursor: pointer;
    position: absolute;
    left: 33%;
    bottom: 15px;
    display: inline-block;
    color: #0B0C10;
    border-radius: 20px;
    padding: 10px 10px;
    background: #66FCF1;
    margin-top: 10px;
    text-decoration: none;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
.footer {
    position: relative;
    width: 100%;
    background: #45A29E;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item{
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #C5C6C7;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .footer p {
    color: #C5C6C7;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .footer p1 {
    color: #C5C6C7;
    font-size: 2rem;
    font-weight: 300;
  }
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate2 {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  